<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About us</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
  <header class="home-foot">
    <a href="/">
      <h2>Book <span>Read</span></h2>
    </a>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/testimony">Testimony</a>
    </nav>
    <div id="appendName">
      <i class="fa-regular fa-user"></i>
    </div>
  </header>

  <div class="about">
    <h1>ABOUT~US</h1>
  </div>
  <div class="about-us">
    <div class="aside">
      <div class="left">
        <img src="../static/images/team.png" alt="book" />
      </div>
      <div class="about-content">
        <h3>Who we are</h3>
        <p>
          Welcome to our community of book enthusiasts and advocates for free
          knowledge! We are a passionate group of individuals dedicated to
          making literature accessible to everyone. Our mission is to spread
          the joy of reading by providing a vast collection of books for free,
          available for both reading online and downloading.
        </p>
        <p>At the heart of our initiative is the belief that knowledge should be freely shared, and literature should be
          accessible to all, regardless of geographical location or financial constraints</p>
      </div>
    </div>
    <div class="aside">
      <div class="about-content">
        <h3>Importance of Reading</h3>
        <p>
          Reading is of paramount importance as it serves as a key to
          knowledge acquisition, fostering critical thinking and empathy.
          Beyond mere information, it provides a lifelong journey for personal
          growth and intellectual stimulation. A culture of reading
          contributes to literacy, education, and the development of informed
          and engaged citizens, playing a crucial role in individual and
          societal advancement. In essence, reading enriches lives, promotes
          progress, and enhances the human experience.
        </p>
      </div>
      <div class="right">
        <img src="../static/images/Ebook-rafiki.png" alt="book" />
      </div>
    </div>
    <div class="description">
      <p>
        We take pride in our commitment to the principles of openness, inclusivity, and the democratization of
        knowledge. All the books on our platform are offered free of charge, and we actively collaborate with authors,
        publishers, and other partners who share our vision. By working together, we aim to create a global community
        where the love of reading transcends borders and economic barriers.</p>

        <p>As a group, we are driven by the shared passion for the written word and the belief that books have the power to
        enlighten, entertain, and enrich lives. We invite you to explore our virtual library, discover new authors, and
        embark on literary adventures without any restrictions. Join us in celebrating the beauty of literature and the
        freedom to read. Together, let's build a world where books are accessible to everyone, fostering a culture of
        lifelong learning and intellectual curiosity.
      </p>
      <p>Discover what people say about us by clicking the below button</p>
      <a href="/testimony">Discover</a>
    </div>
  </div>

  <footer class="home-foot">
    <a href="/">
      <h2>Book <span>Read</span></h2>
    </a>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/testimony">Testimony</a>
    </nav>
    <div class="media">
      <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fa-brands fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fa-brands fa-whatsapp fa-2x"></i></a>
    </div>
  </footer>
  <script src="../static/readName.js"></script>
</body>

</html>