{% extends "base.html"%}

{% block content %}
  <p class="date">Date: {{formatted_datetime}}</p>

  <div class="books-container">
    {% for book in books %}
    <div class="eachbook" id="{{book.id}}">
      <img src="{{book.image}}" alt="{{book.title}}">
      <div class="info">
        <h3 id="bookTitle">{{book.title}}</h3>
        <h4 class="fs-6">{{book.writer()}}</p4>
          <p>{{book.disc}}</p>
          <p><span class="price">{{book.prices()}}</span> Free</p>
          <div class="links">
            <a href="{{ url_for('read_pdf', pdf_book=book.pdfBook) }}" target="_blank">Read</a>
            <a href="{{ url_for('read_pdf', pdf_book=book.pdfBook) }}" download>Download <i class="fa-solid fa-download"
                style="color: #ffffff;"></i></a>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endblock %}
