<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="box">
    <div class="cont">
      <div class="content">
        <h1>Welocme to our OpenReads Web</h1>
        <p>Welcome to our digital library, where you can read and download books for free by simply registering your
          name. This gateway to the literary world and provides access to a diverse collection of books. We believe in
          the transformative power of reading to
          ignite imaginations and foster a lifelong love for learning.
        </p>
        <p>Join us in celebrating the written word, and let the magic of literature inspire, educate, and connect us
          all. Register now and unlock the gateway to a world where books are cherished, and knowledge knows no bounds!
        </p>
        <a href="/#login" class="start">Start</a>
      </div>
      <div class="login" id="login">
        <h3>Login</h3>
        <form action="/home" method="">
          <label for="name">username:</label><br>
          <input type="text" id="name" name="name" required><br>
          <input type="submit" value="Enter" id="btn">
        </form>
      </div>
    </div>
  </div>
  <script src="../static/script.js"></script>
</body>

</html>